
stream-timer/api.js
*.*~
old-chatbot/cheermotes/*.gif
old-chatbot/bot.log
old-chatbot/config.ini
old-chatbot/current_song.txt
old-chatbot/Followers/*.txt
old-chatbot/moderators.txt
old-chatbot/persistentStorage.dat
old-chatbot/soraBot.php
old-chatbot/web_interface_client_details.txt
old-chatbot/web_interface_function_import_list.txt
