canvas {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}

.status-info-container {
    position: fixed;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    padding: 5px;
    color: white;
    max-height: 90%;
    overflow-y: auto;
}
.status-info-container * {
    color: white;
}
hr {
    margin-top: 2px;
}

.status-info-row.header {
    text-align: center;
    font-weight: bold;
}
.status-info-row.header td, th {
    border-top: 3px solid white;
    border-bottom: 1px solid white;
}
.status-widget.color {
    display: inline-block;
    width: 50px;
    height: 20px;
    border: 1px inset;
}
.status-widget.units {
    display: inline;
}
.status-table td:nth-child(2) {
    border-left: 1px solid white;
}
.status-table td, .status-table th {
    border: 1px solid white;
    padding: 5px;
}
.status-table th, .status-info-row.header td {
    color: black !important;
    background-color: white;
    border-bottom: 1px solid black !important;
}
.status-info-row.header td {
    border-top: 1px solid black !important;
}
.status-table {
    border-collapse: collapse;
    margin-bottom: 5px;
}

.range-to {
    vertical-align: top;
}

.status-widget-parameter {
    color: black !important;
    font-weight: bold;
    font-family: monospace;
    vertical-align: baseline;
}
.status-table td:first-child {
    font-weight: bold;
}

.status-hide, .status-hide *, .status-hide-verbose .status-info-row-verbose {
    display: none !important;
}

#splash {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* duration timing-func delay fill-mode name*/
    animation: 5s ease-out 3s forwards splash-ani;
}
#splash div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 18pt;
}

@keyframes splash-ani {
    from { opacity: 1; }
    to { opacity: 0; }
}